In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# store the CSV created in WeathterPy into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-04-16 19:27:02,3.0707,172.7902,80.42,80,68,14.16
1,1,Lasa,IT,2022-04-16 19:27:03,46.6166,10.7002,49.08,91,26,7.52
2,2,Georgetown,MY,2022-04-16 19:22:33,5.4112,100.3354,82.33,92,20,4.61
3,3,Nanortalik,GL,2022-04-16 19:27:03,60.1432,-45.2371,31.41,80,8,11.01
4,4,Hithadhoo,MV,2022-04-16 19:27:04,-0.6000,73.0833,83.21,67,100,5.28

In [3]:
# get the data types
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# get the maximum temperature

# max_temp = city_data_df["Max Temp"]
# temps = []
# # for temp in max_temp:
# #     temps.append(max(temp, 0))

In [6]:
# heatmap of temperature

# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to Max Temperatures
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the maps.figure() attribute.
# zoom in
fig = gmaps.figure(center=(30.3, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer
fig.add_layer(heat_layer)


# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)


fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)


fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)


fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# filter the dataset to find the cities that fit the temp criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-04-16 19:27:02,3.0707,172.7902,80.42,80,68,14.16
2,2,Georgetown,MY,2022-04-16 19:22:33,5.4112,100.3354,82.33,92,20,4.61
4,4,Hithadhoo,MV,2022-04-16 19:27:04,-0.6000,73.0833,83.21,67,100,5.28
5,5,Koutiala,ML,2022-04-16 19:27:04,12.3917,-5.4642,86.50,33,70,11.45
10,10,Lagunas,PE,2022-04-16 19:27:06,-5.2269,-75.6753,87.12,63,96,3.20
...,...,...,...,...,...,...,...,...,...,...
544,544,Sungairaya,ID,2022-04-16 19:41:47,0.7000,108.9000,77.27,89,85,3.76
554,554,Silver City,US,2022-04-16 19:42:50,32.7701,-108.2803,76.96,8,0,18.99
558,558,Jacmel,HT,2022-04-16 19:42:52,18.2342,-72.5347,82.31,64,67,9.84
561,561,Port Hedland,AU,2022-04-16 19:42:53,-20.3167,118.5667,77.05,61,13,5.75
563,563,Kattivakkam,IN,2022-04-16 19:42:54,13.2167,80.3167,86.09,90,9,9.22

In [12]:
preferred_cities_df.count()

City ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
0   Butaritari      KI     80.42   3.0707  172.7902
2   Georgetown      MY     82.33   5.4112  100.3354
4    Hithadhoo      MV     83.21  -0.6000   73.0833
5     Koutiala      ML     86.50  12.3917   -5.4642
10     Lagunas      PE     87.12  -5.2269  -75.6753

In [14]:
# Set parameters (payload) to search for a hotel

payload = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# iterate through the DataFrame hotel_df
for index, row in hotel_df.iterrows():
    # Get the latitute and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dict
    payload["location"] = f"{lat},{lng}"
    
    # Use the search term "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get JSON data from search
    hotels = requests.get(base_url, params=payload).json()
    
    # grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [15]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,80.42,3.0707,172.7902,Isles Sunset Lodge
2,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
4,Hithadhoo,MV,83.21,-0.6000,73.0833,Scoop Guest House
5,Koutiala,ML,86.50,12.3917,-5.4642,Hotel La Chaumiere
10,Lagunas,PE,87.12,-5.2269,-75.6753,Hospedaje Eco
...,...,...,...,...,...,...
544,Sungairaya,ID,77.27,0.7000,108.9000,Rumah Kuku Moimoi Shelly
554,Silver City,US,76.96,32.7701,-108.2803,Copper Manor Motel
558,Jacmel,HT,82.31,18.2342,-72.5347,Historic Hotel Florita
561,Port Hedland,AU,77.05,-20.3167,118.5667,The Esplanade Hotel
563,Kattivakkam,IN,86.09,13.2167,80.3167,Euronova Freezer

In [16]:
hotel_df.count()

City          177
Country       177
Max Temp      177
Lat           177
Lng           177
Hotel Name    177
dtype: int64

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# heatmap of temperature for the vacation spots and a pop-up marker for each city

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.3, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))